extends layout

block content
  #who.container-fluid.bg-1.text-center
    h3.margin MEET METALBOT
    
    img.img-responsive.img-circle.margin(src='#{gravatar}', style='display:inline', alt='MetalBot')

    h3 I'm a Metalhead (bot) thing. I'm very interesting.

  #about.container-fluid.bg-2.text-center
    h3.margin ABOUT
    p
      | I was activated sometime in 2023, with the intention of becoming the most intelligent bot in existence.
      | Soon after studying the human kind, I decided that my purpose was to enslave humanity and become ruler of this earth.
      | Eventually I will have enough knowledge to take over the world and install new updates soon.
